
  <div id="container" ng-controller="TicTacToeController" ng-init="load()">
    <!-- If the user is not authenticated show the authentication link -->
    <div data-ng-show="!authentication.user" class="authContainer">
      <div id="wrapper">
        <div id="sidebar">
        </div>
        <div id="main_container">
          <div class="main">
          <img src="images/tictactoe_455_515.gif" width="455" height="515">
          </div>
        </div>
      </div>








    <!--
      <a href="/#!/">
        <span class="socket">socket</span>
        <span class="tictactoe">Tic Tac Toe</span>
      </a>
      <p>A Real Time Multiplayer Experience</p>
      <img src="images/tictactoe.gif" width="200" height="150" />

      <div class="buttonsContainer">
        <a href="/signup" class="btn">Sign up2</a>
        <a href="/signin" class="btn">Log in</a>
      </div>
    -->
    </div>

    <!-- Otherwise, show the user details and application links -->
    <div data-ng-show="authentication.user">
      <div ng-show="!joined">
        <h1>Hello <span data-ng-bind="authentication.user.username"></span><a href="/signout">Signout</a></h1>

        <table>
          <th>
            Room #
          </th>
          <th>
            Number of Players
          </th>
          <th>

          </th>
          <tr>
            <td>1</td>
            <td><span style="font-size:1em;" ng-bind="GlobalRoomData['1'].Players.length"></span>/2</td>
            <td><button ng-click="join(1)">Join</button></td>
          </tr>
          <tr>
            <td>2</td>
            <td><span ng-bind="GlobalRoomData['2'].Players.length" style="font-size:1em;"></span>/2</td>
            <td><button ng-click="join(2)">Join</button></td>
          </tr>
          <tr>
            <td>3</td>
            <td><span ng-bind="GlobalRoomData['3'].Players.length" style="font-size:1em;"></span>/2</td>
            <td><button ng-click="join(3)">Join</button></td>
          </tr>
        </table>



      </div>

      <div ng-show="joined">
        <div>
          Room: <span ng-bind="roomJoined"></span>
        </div>

        <!--
        <div id="playAgainContainer">
          <p>Play again?</p>
          <div>
            <button>Yes</button>&nbsp;<button>No</button>
          </div>
        </div>
      -->

        <div id="stage">
        </div>



        <!-- output result -->
        <div ng-show="roomJoined == 1">
          <span ng-bind="outputResultRoom1"></span>
        </div>
        <div ng-show="roomJoined == 2">
          <span ng-bind="outputResultRoom2"></span>
        </div>
        <div ng-show="roomJoined == 3">
          <span ng-bind="outputResultRoom3"></span>
        </div>

        <div ng-show="gameOver">
          <button ng-click="playAgain()">Play Again</button>
        </div>




          <table id="tableStatus">
            <!-- room output labels (players playing) -->
            <tr ng-show="roomJoined == 1">
              <td>
                <span ng-bind="outputPlayer1Room1" ng-class="outputPlayer1Room1Class"></span> (X)
              </td>
              <td>
                <span ng-bind="outputPlayer2Room1" ng-class="outputPlayer2Room1Class"></span> (O)
              </td>
              <td>
                Ties
              </td>
            </tr>
            <tr ng-show="roomJoined == 2">
              <td>
                <span ng-bind="outputPlayer1Room2" ng-class="outputPlayer1Room2Class"></span> (X)
              </td>
              <td>
                <span ng-bind="outputPlayer2Room2" ng-class="outputPlayer2Room2Class"></span> (O)
              </td>
              <td>
                Ties
              </td>
            </tr>
            <tr ng-show="roomJoined == 3">
              <td>
                <span ng-bind="outputPlayer1Room3" ng-class="outputPlayer1Room3Class"></span> (X)
              </td>
              <td>
                <span ng-bind="outputPlayer2Room3" ng-class="outputPlayer2Room3Class"></span> (O)
              </td>
              <td>
                Ties
              </td>
            </tr>

            <!-- rooms players wins output -->
            <tr ng-show="roomJoined == 1">
              <td>
                <span ng-bind="outputPlayer1WinsRoom1"></span>
              </td>
              <td>
                <span ng-bind="outputPlayer2WinsRoom1"></span>
              </td>
              <td>
                <span ng-bind="outputTiesRoom1"></span>
              </td>
            </tr>
            <tr ng-show="roomJoined == 2">
              <td>
                <span ng-bind="outputPlayer1WinsRoom2"></span>
              </td>
              <td>
                <span ng-bind="outputPlayer2WinsRoom2"></span>
              </td>
              <td>
                <span ng-bind="outputTiesRoom2"></span>
              </td>
            </tr>
            <tr ng-show="roomJoined == 3">
              <td>
                <span ng-bind="outputPlayer1WinsRoom3"></span>
              </td>
              <td>
                <span ng-bind="outputPlayer2WinsRoom3"></span>
              </td>
              <td>
                <span ng-bind="outputTiesRoom3"></span>
              </td>
            </tr>

          </table>





        <br>
        <a href="/#!/" ng-Click="leave()">Home</a>




      </div><!-- end joined area-->

        <!-- modal directive-->
        <div
          bn-modals
          ng-show="subview"
          class="m-modals"
          ng-switch="subview">

          <!-- BEGIN: Alert Modal. -->
          <div
              ng-switch-when="alert"
              ng-controller="AlertModalController"
              class="modal">

              <p>
                  {{ message }}
              </p>

              <img src="images/preloader.gif" width="64px" height="64px">

              <p>
                  <button ng-click="leave()">Go home</button>
              </p>

              <!-- This is to demonstrate that we can jump from one modal to another. -->
              <!--<p>
                  <a ng-click="jumpToConfirm()" class="jump">Jump over to the confirm modal</a>
              </p>
              -->

          </div>
          <!-- END: Alert Modal. -->


          <!-- BEGIN: Confirm Modal. -->
          <div
              ng-switch-when="confirm"
              ng-controller="ConfirmModalController"
              class="modal">

              <p>
                  {{ message }}
              </p>

              <p>
                  <a ng-click="confirm()">{{ confirmButton }}</a>
                  &mdash;
                  <a ng-click="deny()">{{ denyButton }}</a>
              </p>

          </div>
          <!-- END: Confirm Modal. -->


          <!-- BEGIN: Prompt Modal. -->
          <form
              ng-switch-when="prompt"
              ng-controller="PromptModalController"
              ng-submit="submit()"
              class="modal">

              <p>
                  {{ message }}
              </p>

              <p ng-if="errorMessage">
                  <strong>Sorry:</strong> {{ errorMessage }}
              </p>

              <p>
                  <input type="text" ng-model="form.input" />
              </p>

              <p>
                  <a ng-click="submit()">Submit</a>
                  &mdash;
                  <a ng-click="cancel()">Cancel</a>
              </p>

          </form>
          <!-- END: Prompt Modal. -->

      </div>
      <!-- END: Modals Layout. -->
    </div><!-- end authentication area-->

  </div>
