<!DOCTYPE html>
<html>
<head>
	<!-- Use the 'title' property to render a page title  -->
	<title><%= title %></title>
	<link href="css/tictactoe.css" rel="stylesheet" type="text/css">
	<link href="css/modal.css" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Nunito:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
  	<!-- Display flash messages 
	<% for(var i in messages) { %>
	   <div class="flash"><%= messages[i] %></div>
	<% } %>
	-->
	<div class="authContainer">
		<div id="wrapper">
		  <div id="sidebar">
		    <div class="logo">
		      <a href="/#!/">
		        <span class="socket">socket</span>
		        <span class="tictactoe">Tic Tac Toe</span>
		      </a>
		      <p>A Real Time Multiplayer Experience</p>
		    </div>


		    <!-- Render the signup form  -->
		    <form action="/signup" method="post">
		      <div class="form-group">
		        <input type="text" name="username" placeholder="Username" autofocus />
		      </div>
		      <div class="form-group">
		        <input type="password" name="password" placeholder="Password" />
		      </div>
		      <div>
		        <button type="submit" class="btn btn-large signUp">
		          Sign up&nbsp;&nbsp;
		          <i class="fa fa-sign-in" aria-hidden="true"></i>

		        </button>
		        <br>
		        <span class="textBelowButton">Already registered? <a href="/">Log in</a></span>
		      </div>
		    </form>

		    <!-- Display flash messages  
		    <% for(var i in messages) { %>
		       <div class="flash"><%= messages[i] %></div>
		    <% } %>
		    -->


		  </div>
		  <div id="main_container" class="main_container_home">
		    <div class="main">
		    <img src="images/tictactoe_455_515.gif" width="455" height="515">
		    </div>
		  </div>
		</div>
	</div>


	<!-- Render the OAuth authentication links  
	<a href="/oauth/facebook">Sign in with Facebook</a>
	<a href="/oauth/twitter">Sign in with Twitter</a>
	<a href="/oauth/google">Sign in with Google</a>
	-->
</body>
</html>
